@import './base.css';
 
.header {

    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    background-color: #fff;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
      
}

.header .logo img{

    width: 35px;
}

.header .logo a {
    color: var(--mainColor);
}
.header .nav a {
    color: #101828;
}

.active{

    font-weight: 900;
}

.header .auth a{

    font-family: var(--subFont);
    padding: 5px 20px;
    border-radius: 5px;
}

.header .auth a:first-of-type{
   border: 1px solid var(--mainColor);
   color: var(--mainColor);
}
.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color: #fff;
}

.nav ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
@media (max-width:992px){
    .nav{
        display: none;
    }
    
}

{/* end header*/

/* start tsetimonial */
}
.testimonials{
    text-align: center;
    padding: 40px 50px;

}
.testimonials h2{
    margin-bottom: 20px;
}

.testimonials img{

}

.testimonials .row{
    gap: 40px;
   
}

.Testimonial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc( (100% - 40px) / 2 );
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
   position: relative;
}


.Testimonial::after{

    content: '';
    border-top: 40px solid #a3a3a3;
    
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
   


}



.Testimonial .user-info{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.Testimonial .user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.Testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    

}

.Testimonial .user-info .user-data span{
font-size: 13px;
color: #969696;
}

.Testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.Testimonial  q{
    color: #646464;

}

.Testimonial blockquote q{
    display: inline-block;
    padding:0 10px ;
}



.footer {
   background-color: #393E46;
   color: #fff;
   padding: 50px  0;
}
.footer a{
    color:white;
    
} 
.footer .row{
    gap: 40px;
}

.footer .footer-left-side,
.footer .footer-right-side
{
    width: calc( (100% - 40px) / 2);
}

 .footer-left-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.footer .footer-left-side .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

}

.footer .footer-left-side .logo img{
    width: 35px;
    color: #F4F4F4;


}
.footer .footer-left-side p{

    color:#F4F4F4 ;
    line-height: 25px ;

}
.footer .footer-left-side .icones{

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}




.footer .footer-left-side .icones img{
   border:1px solid white;
   
   width: 15px;
   height: 15px;
   padding: 10px;
   box-sizing: content-box;
} 
.footer-right-side .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;

}
.footer-right-side .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}


